* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f6f5f3; */
  background:  #f6f5f3 url('./guitaroutline.png') no-repeat fixed center;
  /* background-image: url('./guitaroutline.png'); */
  color: #3d3d3f;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background: #7dce94;
  text-align: center;
  padding: 30px;
}

#header > h1 {
  font-size: 60px;
}

#searchbox {
  /* border: 1px solid red; */
  margin: 20px 0 20px;
  text-align: center;
}

#searchbox * {
  /* border: 1px solid blue; */
  margin: 10px 0;
}

#searchbox > label {
  font-weight: bold;
  font-size: large;
}

#searchbox > input {
  width: 200px;
  padding: 7px;
}

#searchbox > button {
  background: #7dce94;
  border: 1px solid #3d3d3f;
  margin-left: 5px;
  padding: 7px;
  width: 90px;
  border-radius: 3px;
}

#song-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#song {
  background: #eeede9;
  border: 1px solid #3d3d3f;
  border-radius: 3px;
  word-wrap: break-word;
  margin: 20px;
  padding: 10px;
  width: 400px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-details > p {
  margin-bottom: 3px;
}

.song-details * span {
  font-weight: bold;
}